*.iml
/.gradle
/local.properties
/.idea/
/.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
keystore.properties

# Builds
app/release/

# Room
data/schemas/

/caches/
/daemon/7.2/
/native/
/wrapper/
